input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.create-spot-exterior-flex {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10em;
}

.create-spot-exterior-holder {
  justify-content: center;
  width: 80%;
}

.form-holder {
  /* border: 1px solid #981b1b; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.create-spot-form {
  width: 100%;
}

.location-form {
  border: 1px solid #b0b0b0;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  width: 50%;
}

.form-directions.photo-form {
  margin-bottom: 15px;
}

.form-directions {
  font-size: 1.5em;
}

.photo-directions {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.517);
  margin-top: 0;
  margin-left: 24px;
}

.input {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #b0b0b0;
  padding-bottom: .3em;
}

.location-label {
  font-size: .8em;
  color: rgba(0, 0, 0, 0.517);
  padding: 0;
  padding-left: .5em;
  padding-top: .5em;
  margin: 0;
}

.location-input {
  border: none;
  margin-bottom: .2em;
  padding-left: .5em;
  font-size: 1.2em;
  overflow-x: auto;
}

.location-input:focus {
  outline: none;
}

#country-input {
  border: 1px solid rgba(0, 0, 0, 0);
}

.input.single-input {
  border: 1px solid #b0b0b0;
  border-radius: 1em;
}

.input.description-input {
  border: none;
  width: 50%;
}

.name-description-title {
  font-size: 1em;
  padding-left: .6em;
  padding-bottom: .6em;
}

.create-text {
  border: 1px solid #b0b0b0;
  border-radius: .5em;
  height: 5em;
  font-size: 2em;
  padding-top: .6em;
  padding-left: .75em;

}

.create-text.description {
  font-size: 1em;
  height: 10em;
}

.create-text:focus {
  outline: none;
}

.character-counter {
  font-size: .75em;
}

.price-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-input-holder {

  display: flex;
  justify-content: space-between;
  width: 100%;
}

.price-clicker {
  border: 1px solid #b0b0b0;
  border-radius: 100%;
  height: 2em;
  width: 2em;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.price-clicker:hover {
  border: 1px solid black;
  cursor: pointer;
}

.price-input {
  border: 1px solid #b0b0b0;
  border-radius: .5em;
  font-size: 2em;
  height: 2em;
}

.price-input:focus {
  outline: none;
}

.button-holder {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 2em;
}

.publish-button {
  border: 1px solid black;
  background-color: white;
  margin: 0;
  width: 30%;
  height: 3em;
  border-radius: .5em;
  margin-bottom: 2em;
  margin-right: 2em;
  font-size: 1em;
  cursor: pointer;
}

.publish-button:hover {
  background-color: #ebebeb6b;
}

.errors {
  margin-top: 1em;
}

.errors,
.errors ul {
  color: #c43f21;
}

input[type=file] {
    display: none;
}

.preview-img {

  border: 1px solid black;
  border-radius: 1em;
  max-height: 125px;
  max-width: 125px;
  padding: 5px;
  margin: 5px;
  object-fit: contain;
  /* flex: 1 1 auto; */
}

.preview-img-holder {
  /* border: 1px solid red; */
  width: 100%;
  /* flex-wrap: wrap; */
  max-height: 500px;

}

#upload-file-label {
  border: 1px solid black;
  background-color: white;
  width: 50%;
  height: 48px;
  border-radius: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 2em; */
  margin-right: 2em;
  font-size: 1em;
  cursor: pointer;
}

#upload-file-label.form-directions.create-spot-photos-button {
  margin-bottom: 32px;
}

#upload-file-label:hover {
  background-color: #ebebeb6b;
}
